@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");



* {
	margin: 0;
	padding: 0;
	}

/* Basic */

	 html {
		box-sizing: border-box;
	} 
	* {
		box-sizing: inherit;
	}
	body {
		background: #fff;
			font-size: 20pt;
				font-weight: 400;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #777;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 0.5625em 0;
		font-size: 2em;
	}

/* Container */

	.container {
		margin: 0 auto;
		max-width: calc(100% - 4.5em);
		width: 45em;
	}

/* List */

.skills{
margin-top: 1em;
columns: 2;
}

/* Image */
	.image {
		border-radius: 5px;
		border: 0;
		display: inline-block;
		position: relative;
	}
		 .image[data-position] img {
			-moz-object-fit: cover;
			-webkit-object-fit: cover;
			-ms-object-fit: cover;
			object-fit: cover;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.image.main {
			display: block;
			height: 20em;
			border-radius: 0;
		}

/* Features */

	.features article {
		border-top: solid 3px #f4f4f4;
		margin-bottom: 2.25em;
		padding-top: 2.25em;
	}
		.features article .image {
			display: inline-block;
			padding-right: 2.5em;
			vertical-align: middle;
			width: 48%;
		}

			.features article .image img {
				display: block;
				width: 100%;
			}

		.features article .inner {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
		}

/* Main */

section {
		border-top: solid 6px #f4f4f4;
	}

		.main section .container {
			padding: 6em 0 4em 0;
		}

